body{
background-image: url("bg_stage.jpeg");
background-size: 100% 100%;
}

#anim {
  background-image: url("sprite_regIDs_3.png");
  width: 470px;
  height: 319px;
  position: absolute;
  left: 35%;
  top: 60%;
  animation: anim 2.0s steps(41) infinite;
}
@keyframes anim {
  100% { background-position: -19270px; }
}
